@font-face {
  font-display: swap;
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/didact-gothic-v20-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/cinzel-v25-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/paytone-one-v24-latin-regular.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --clr-white: #f3f3f3;
    --clr-offWhite: #cdcdcd;
    --clr-lightGrey: #d5d5d5;
    --clr-darkBlue: #08232c;
    --clr-lightTeal: #123642;
    --clr-darkTeal: #062f3d;
    --clr-congareeBlue: #1f414d;
    --clr-oceanBlue: #384db7;
    --clr-seafoam: #e0e0e8;
}
body {
    width: 100%;
    height: 100vh;
    font-family: "Didact Gothic", serif;
    color: var(--clr-white);
    background-color: var(--clr-darkTeal);
    overflow-x: hidden;
    cursor: default;
}
.wrapper {
    max-width: 80rem;
}
::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--clr-seafoam);
    border-radius: 2px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
header ul {
    position: absolute;
}
header ul li {
    position: relative;
    top: .5rem;
    left: .5rem;
    display: inline-block;
    color: var(--clr-white);
    text-transform: capitalize;
    padding-right: .75rem;
    z-index: 3;
}
header ul li span {
    display: none;
    font-family: "Cinzel", serif;
    font-size: clamp(1.15rem, 3vw, 1.5rem);
}
.hero {
    position: relative;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(180deg, 
    rgba(0, 0, 0, 1) 70%, 
    transparent 90%);
}
.logo {
    position: absolute;
    top: 50%;
    left: 30.5%;
    transform: translateY(-50%, -50%);
    font-family: "Cinzel", serif;
    font-size: clamp(6.5rem, 3vw, 10rem);
    visibility: hidden;
    opacity: 0;
    transition: 350ms ease-out;
    z-index: 1;
}
.logo.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(72px);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.grid-container img {
    width: 100%;
    height: auto;
    color: var(--clr-white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}
.grid-container h2 {
    text-transform: capitalize;
    letter-spacing: .65px;
    font-family: "Paytone One", serif;
    font-weight: 300;
    font-size: clamp(1.3rem, 3vw, 1.5rem);
}
.grid-container p {
    font-size: clamp(1rem, 3vw, 1.1rem);
    line-height: 1.6;
    margin: 15px auto 0;
}
.grid-container .right h2,
.grid-container .right p {
    margin-right: 1rem;
}
.grid-container .left h2,
.grid-container .left p {
    margin-left: 1rem;
}
.banner {
    margin: 1rem auto;
    padding: 4.5rem;
    text-align: center;
    width: 100%;
    background: var(--clr-darkBlue);
}
.banner.pier-margin {
    margin: 16px auto 0;
}
.banner h2 {
    font-family: "Paytone One", serif;
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.banner p {
    font-size: clamp(1.12rem, 3vw, 1.3rem);
    letter-spacing: .5px;
    line-height: 1.8;
    margin: 10px auto;
}
.banner p span {
    color: var(--clr-white);
    font-weight: 300;
}
.banner a {
    text-decoration-thickness: 1.5px;
    text-transform: capitalize;
    color: var(--clr-offWhite);
}
.banner .btn {
    display: inline-block;
    background: var(--clr-congareeBlue);
    margin: 50px auto 0;
    cursor: pointer;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 250ms ease-in-out;
}
.banner .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    width: calc(100% + 13px);
    height: calc(100% + 4px);
    background-color: var(--clr-oceanBlue);
    transform: translateZ(-10px) rotate(13deg);
    -webkit-transform: translateZ(-10px) rotate(13deg);
    cursor: default;
    transition: 250ms ease-in-out;
}
.banner .btn:hover {
    background: var(--clr-oceanBlue);
}
.banner .btn:hover::before {
    background-color: var(--clr-lightTeal);
}
.banner .btn a {
    display: block;
    color: var(--clr-white);
    padding: .85rem 1.85rem;
    font-size: 1rem;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}
.marquee {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 50px auto 0;
    border-top: solid 1.5px var(--clr-offWhite);
    border-bottom: solid 1.5px var(--clr-offWhite);
    padding: 1rem;
    overflow-x: hidden;
}
.marquee .content {
    display: flex;
    column-gap: 24px;
    padding-inline: 12px;
    align-items: center;
    animation: infinite-scroll 50s linear reverse infinite;
}
.marquee .content p {
    text-transform: capitalize;
    letter-spacing: .25px;
    white-space: nowrap;
}
@keyframes infinite-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.animations {
    overflow: hidden;
}
.waves {
    margin-top: 1rem;
}
.waves-svg {
    position: relative;
    width: 100%;
    margin-bottom: -5px;
    min-height: 100px;
    max-height: 150px;
    z-index: -1;
}
.waves-group > use {
    animation: waves 120s cubic-bezier(0.55, 0.5, 0.45, 0.5) forwards infinite;
}
@keyframes waves {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
.waves-group > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.waves-group > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.waves-group > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    z-index: -2;
}
.waves-group > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
.foreground {
    position: relative;
}
.foreground img {
    position: absolute;
}
.foreground .pier {
    max-width: 255px;
    left: 0;
    bottom: 0;
}
.foreground .boat-container {
    position: relative;
    animation: heave 3s alternate infinite;
    width: 100%;
    z-index: -1;
}
.foreground .fishing-boat {
    opacity: 0;
    max-width: 250px;
    right: 0;
    bottom: -.95rem;
    animation: fishingBoat 30s alternate infinite;
}
.foreground .fishing-boat.active {
    opacity: 1;
}
@keyframes heave {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15px);
    }
}
@keyframes fishingBoat {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-750px);
    }
}
.foreground .no-fishing-container {
    position: relative;
    animation: floatingSignPost 30s forwards;
    z-index: -2;
}
.foreground .no-fishing {
    opacity: 0;
    max-width: 95px;
    right: 75%;
    bottom: -1.25rem;
    animation: noFishingSign 5s alternate infinite;
}
.foreground .no-fishing.active {
    opacity: 1;
}
@keyframes floatingSignPost {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(750px);
    }
}
@keyframes noFishingSign {
    0% {
        transform: translateY(0);
        transform: rotate(0);
    }
    100% {
        transform: translateY(25px);
        transform: rotate(15deg);
    }
}
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: var(--clr-lightTeal);
    box-shadow: 2px 2px 50px rgba(0, 0, 0, .7);
    padding-bottom: .35rem;
}
footer .section {
    text-transform: capitalize;
    letter-spacing: .5px;
    z-index: 3;
}
footer .section ul li {
    list-style: none;
    color: var(--clr-lightGrey);
    font-size: .98rem;
    margin: 20px auto;
    margin-left: .75rem;
    font-weight: 400;
}
footer .section ul li span {
    color: var(--clr-offWhite);
    text-transform: capitalize;
    font-size: 1.1rem;
    letter-spacing: .5px;
}
@media screen and (max-width: 1235px) {
    header ul li span {
        display: block;
    }
    .logo {
        display: none;
    }
    .grid-container {
        grid-template-columns: 1fr;
        margin-top: 1.5rem;
    }
    .grid-container img {
        padding: 0 .75rem;
        box-shadow: none;
    }
    .grid-container .left h2,
    .grid-container .left p,
    .grid-container .right h2,
    .grid-container .right p {
        margin-left: .75rem;
        width: 93%;
    }
    @keyframes fishingBoat {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-650px);
        }
    }
}
@media screen and (max-width: 1123px) {
    @keyframes fishingBoat {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-450px);
        }
    }
    @keyframes floatingSignPost {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(500px);
        }
    }
}
@media screen and (max-width: 945px) {
    .banner {
        padding: 3.5rem 1.5rem;
    }
    @keyframes fishingBoat {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-250px);
        }
    }
    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: flex-start;
    }
    footer ul {
        padding: 0 .75rem;
    }
    footer .section ul li {
        margin-left: 0;
    }
}
@media screen and (max-width: 825px) {
    @keyframes fishingBoat {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-350px);
        }
    }
}
@media screen and (max-width: 765px) {
    @keyframes fishingBoat {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-200px);
        }
    }
    @keyframes floatingSignPost {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(300px);
        }
    }
}
@media screen and (max-width: 605px) {
    @keyframes fishingBoat {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50px);
        }
    }
    @keyframes floatingSignPost {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(150px);
        }
    }
}
@media screen and (max-width: 515px) {
    .banner .btn::before {
        width: 100px;
        left: 10px;
    }
    .banner .btn:hover {
        background: var(--clr-lightTeal);
    }
    .banner .btn:hover::before {
        background-color: var(--clr-oceanBlue);
    }
    .marquee {
        margin: 30px auto 0;
        padding: .5rem;
    }
    @keyframes fishingBoat {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-25px);
        }
    }
    @keyframes floatingSignPost {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(200px);
        }
    }
    footer {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 435px) {
    @keyframes fishingBoat {
        0% {
            transform: translateX(75px);
        }
        100% {
            transform: translateX(0);
        }
    }
}
@media screen and (max-width: 400px) {
    @keyframes fishingBoat {
        0% {
            transform: translateX(90px);
        }
        100% {
            transform: translateX(65px);
        }
    }
}
@media screen and (max-width: 330px) {
    @keyframes fishingBoat {
        0% {
            transform: translateX(95px);
        }
        100% {
            transform: translateX(85px);
        }
    }
}